@import 'variables.scss';

html, body, #root {
    margin: 0px;
    height: 100%;
}

body {
    margin: 0px;
    min-width: 320px;
    background: $primary-background-color;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
    font-family: $primary-font;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.circle {
    border-radius: 50% !important;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.page-title {
    font-size: $extra-large-font-size;
    font-weight: $normal;
    color: $heading-text;
    margin: 24px 0px;
}

.card-title {
    font-size: $normal-font-size;
    font-weight: $normal;
    color: $heading-text;
    margin: 8px 0px;
}

@mixin card {
    background: $secondary-background-color;
    border-radius: $border-radius;
    box-shadow: $shadow;
}

.layout-card {
    @include card;
    display: flex;
    flex-flow: column nowrap;
    margin: 24px 0px;
    padding: 8px 0px;
}

.container {
    width: 100%;
    max-width: $layout-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    height: $navbar-height;
    background: $secondary-background-color;
    box-shadow: $shadow;
}

.footer {
    padding: 8px 12px;
}

.form-group {
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;

    svg {
        fill: $icon-color;
        width: 24px;
        height: 24px;
    }
}

.logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;

    .logo {
        font-size: $normal-font-size;
        font-weight: $bold;
        text-decoration: none;
        padding: 8px 0px;

        .logo-sub {
            color: $primary-text;
        }

        .logo-accent {
            color: $accent-color;
        }
    }
}

.book-list-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: start;
    grid-gap: 24px;
    max-width: 100%;
}

.book-card {
    @include card;
    display: flex;
    flex-flow: column nowrap;
    background: $secondary-background-color;
    border-radius: $border-radius;

    .book-card-header {
        border-bottom: 1px solid $accent-color;
        padding-bottom: 1px;
        text-align: center;

        .book-name {
            color: $accent-color;
            font-size: $normal-font-size;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 4px auto;
            padding-left: 4px;
        }
    }

    .book-card-description {
        padding: 12px;

        .description-group {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $tint-color;
            font-size: $small-font-size;

            .group-title {
                color: $heading-text;
                font-weight: $bold;
            }

            .group-text {
                color: $primary-text;
                font-weight: $light;
            }
        }
    }

    .book-card-bottom {
        padding: 4px 12px;
        padding-bottom: 12px;
    }
}

.search-input-wrapper {
    border: 1px solid $tint-color;
    border-radius: $border-radius;
    padding: 0px 8px;
    margin: 12px 0px;
    margin-right: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-input {
        flex-grow: 1;
        padding: 4px 8px;
        min-width: 0px!important;
        font-size: $small-font-size;
        font-weight: $normal;
        color: $primary-text;
        background: none;
        border: none;
        outline: none;
    }
}

input:focus::-webkit-input-placeholder {
    transition: opacity 0.15s ease-out;
    opacity: 0;
}

input::-webkit-search-cancel-button {
    display: none;
}

@mixin btn {
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $normal;
    color: $primary-text;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: $border-radius;
    padding: 2px;
    transition: color, background-color 0.15s ease-out;
}

.transparent-btn {
    @include btn;
    background: transparent;

    &:hover {
        background: $tint-color;
    }
}

.accent-btn {
    @include btn;
    background: $accent-color;
    padding: 4px 16px;

    &:hover {
        color: $primary-background-color;
        background: $secondary-color;
    }
}
