$primary-background-color: #edf2f7;
$secondary-background-color: #ffffff;

$primary-color: #e2f1ff;
$secondary-color: #383e41;
$accent-color: #60aff9;

$icon-color: #373a3d;

$primary-text: #2d3133;
$heading-text: #383e41;
$text-muted: #535758;

$tint-color: rgba(0, 0, 0, 0.16);
$shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$primary-font: 'Oswald', sans-serif;

$small-font-size: 16px;
$normal-font-size: 19px;
$large-font-size: 21px;
$extra-large-font-size: 26px;

$light: 400;
$normal: 500;
$bold: 600;

$navbar-height: 60px;
$border-radius: 8px;
$layout-max-width: 1040px;

$medium-screen-breakpoint: 640px;
$large-screen-breakpoint: 920px;